body
{
}

    .style1 {font-style: italic}

    img.c10 {vertical-align:text-bottom;}
    tr.c9 {background-color: #FFFFFF}
    td.c8 {background-color: #FCFCFC}
    td.c7 {intro_table}
    table.c6 {background-color: #FFFFFF}
    td.c5 {background-color: #FFFFFF}
    span.c4 {intro_table}
    form.c3 {margin-bottom: 0;margin-top: 0;}
    li.c2 {list-style: none; display: inline}
    span.c1 {font-size: 100%;}
